openapi: 3.0.3
info:
  title: Avast Business Hub API
  description: >
    The Avast Business Hub API provides programmatic access to the Avast
    Business cloud management platform for multi-tenant endpoint security
    management, subscription/license provisioning, device monitoring, and
    alert retrieval. Authentication uses Client ID and Client Secret credentials
    obtained by creating an "API integration" in the Avast Business Hub at the
    partner or customer level. These credentials are exchanged for an OAuth 2.0
    access token at the API Gateway token endpoint.
  version: "1.0.0"
  contact:
    name: Avast Business Developer Documentation
    url: https://businesshub.avast.com/

servers:
  - url: https://api.businesshub.avast.com/v1
    description: Avast Business Hub API Gateway

tags:
  - name: Authentication
    description: Obtain OAuth 2.0 access tokens via Client Credentials flow
  - name: Companies
    description: Manage customer companies in the Avast Business Hub
  - name: Devices
    description: Query and manage protected endpoints
  - name: Subscriptions
    description: Manage product subscriptions and license activations
  - name: Alerts
    description: Retrieve device security alerts
  - name: Users
    description: Manage console users and invite them to companies

security:
  - bearerAuth: []

paths:
  /oauth/token:
    post:
      tags:
        - Authentication
      summary: Obtain access token (Client Credentials)
      description: >
        Exchange Client ID and Client Secret for an OAuth 2.0 Bearer access
        token using the Client Credentials grant. The Client ID and Client Secret
        are generated by creating an API integration in the Avast Business Hub
        console (at partner or customer level). Tokens are short-lived; obtain a
        new token before each request batch or implement refresh logic.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
                - client_id
                - client_secret
              properties:
                grant_type:
                  type: string
                  enum: [client_credentials]
                  description: OAuth 2.0 grant type
                client_id:
                  type: string
                  description: Client ID from the Avast Business Hub API integration
                client_secret:
                  type: string
                  format: password
                  description: Client Secret from the Avast Business Hub API integration
      responses:
        "200":
          description: Access token issued successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          description: Invalid client credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /companies:
    get:
      tags:
        - Companies
      summary: List managed companies
      description: >
        Returns a list of customer companies managed under the authenticated
        partner or reseller account. Each company represents an MSP customer
        with its own device inventory and subscriptions.
      parameters:
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: pageToken
          in: query
          schema:
            type: string
          description: Pagination cursor from previous response
        - name: name
          in: query
          schema:
            type: string
          description: Filter companies by name (partial match)
      responses:
        "200":
          description: List of companies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags:
        - Companies
      summary: Create a new company
      description: >
        Creates a new customer company in the Avast Business Hub. Used for
        provisioning new MSP customers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyCreateRequest"
      responses:
        "201":
          description: Company created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /companies/{companyId}:
    get:
      tags:
        - Companies
      summary: Get company details
      description: Returns details for a single managed customer company.
      parameters:
        - $ref: "#/components/parameters/companyId"
      responses:
        "200":
          description: Company details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags:
        - Companies
      summary: Update a company
      description: Updates company details such as name or contact information.
      parameters:
        - $ref: "#/components/parameters/companyId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyUpdateRequest"
      responses:
        "200":
          description: Company updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        "404":
          $ref: "#/components/responses/NotFound"

  /companies/{companyId}/devices:
    get:
      tags:
        - Devices
      summary: List devices in a company
      description: >
        Returns all devices enrolled in Avast Business for the specified
        company. Use this to identify unprotected endpoints or check AV status.
      parameters:
        - $ref: "#/components/parameters/companyId"
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
        - name: pageToken
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [protected, unprotected, inactive, unknown]
          description: Filter devices by protection status
        - name: deviceName
          in: query
          schema:
            type: string
          description: Filter by device name (partial match)
      responses:
        "200":
          description: List of devices
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /companies/{companyId}/devices/{deviceId}:
    get:
      tags:
        - Devices
      summary: Get device details
      description: Returns full details for a single device in a company.
      parameters:
        - $ref: "#/components/parameters/companyId"
        - $ref: "#/components/parameters/deviceId"
      responses:
        "200":
          description: Device details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
        "404":
          $ref: "#/components/responses/NotFound"

  /companies/{companyId}/subscriptions:
    get:
      tags:
        - Subscriptions
      summary: List company subscriptions
      description: >
        Returns all product subscriptions and license information for a
        customer company, including seat counts and expiry dates.
      parameters:
        - $ref: "#/components/parameters/companyId"
      responses:
        "200":
          description: List of subscriptions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionListResponse"
        "404":
          $ref: "#/components/responses/NotFound"

    post:
      tags:
        - Subscriptions
      summary: Activate a subscription or trial
      description: >
        Activates a new product subscription or trial for a company.
        Use this to auto-assign Avast Business licenses when onboarding a new
        customer or when deploying Avast to a device that has no AV coverage.
      parameters:
        - $ref: "#/components/parameters/companyId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscriptionActivateRequest"
      responses:
        "201":
          description: Subscription activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscription"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          description: Subscription already active or product not available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /companies/{companyId}/alerts:
    get:
      tags:
        - Alerts
      summary: List device alerts for a company
      description: >
        Returns active security alerts for all devices in the company.
        Useful for populating helpdesk tickets with current threat context.
      parameters:
        - $ref: "#/components/parameters/companyId"
        - name: severity
          in: query
          schema:
            type: string
            enum: [info, warning, critical]
        - name: resolved
          in: query
          schema:
            type: boolean
          description: Filter to resolved (true) or active (false) alerts
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Return alerts created on or after this ISO 8601 timestamp
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 100
        - name: pageToken
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of alerts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertListResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /companies/{companyId}/users:
    get:
      tags:
        - Users
      summary: List company console users
      description: Returns users with access to the specified company's console.
      parameters:
        - $ref: "#/components/parameters/companyId"
      responses:
        "200":
          description: List of users
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserListResponse"
        "404":
          $ref: "#/components/responses/NotFound"

    post:
      tags:
        - Users
      summary: Invite a user to a company
      description: >
        Sends an invitation to a user to join the specified company's Avast
        Business Hub console. Used during customer onboarding to grant access
        to client-facing portal.
      parameters:
        - $ref: "#/components/parameters/companyId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInviteRequest"
      responses:
        "201":
          description: Invitation sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInviteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          description: User already a member of this company
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Bearer token obtained from the /oauth/token endpoint using Client
        Credentials (Client ID + Client Secret from an Avast Business Hub API
        integration). Store credentials securely in a secrets vault; never
        hard-code them.

  parameters:
    companyId:
      name: companyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier of the company

    deviceId:
      name: deviceId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier of the device

  responses:
    Unauthorized:
      description: Missing or invalid access token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Insufficient permissions for this operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    BadRequest:
      description: Invalid request parameters or body
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: Bearer token for authenticated API calls
        token_type:
          type: string
          example: bearer
        expires_in:
          type: integer
          description: Token lifetime in seconds

    Company:
      type: object
      properties:
        companyId:
          type: string
        name:
          type: string
        email:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        deviceCount:
          type: integer
        activeSubscriptions:
          type: integer
        createdAt:
          type: string
          format: date-time

    CompanyListResponse:
      type: object
      properties:
        companies:
          type: array
          items:
            $ref: "#/components/schemas/Company"
        nextPageToken:
          type: string
          nullable: true

    CompanyCreateRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Company display name
        email:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true

    CompanyUpdateRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true

    Device:
      type: object
      properties:
        deviceId:
          type: string
        name:
          type: string
        companyId:
          type: string
        osName:
          type: string
        osVersion:
          type: string
        protectionStatus:
          type: string
          enum: [protected, unprotected, inactive, unknown]
        lastSeen:
          type: string
          format: date-time
        agentVersion:
          type: string
          nullable: true
        ip:
          type: string
          nullable: true

    DeviceListResponse:
      type: object
      properties:
        devices:
          type: array
          items:
            $ref: "#/components/schemas/Device"
        nextPageToken:
          type: string
          nullable: true

    Subscription:
      type: object
      properties:
        subscriptionId:
          type: string
        product:
          type: string
          description: Product name (e.g., Avast Business Antivirus Pro Plus)
        status:
          type: string
          enum: [active, trial, expired, cancelled]
        totalSeats:
          type: integer
        usedSeats:
          type: integer
        expiresAt:
          type: string
          format: date-time
          nullable: true

    SubscriptionListResponse:
      type: object
      properties:
        subscriptions:
          type: array
          items:
            $ref: "#/components/schemas/Subscription"

    SubscriptionActivateRequest:
      type: object
      required:
        - product
      properties:
        product:
          type: string
          description: >
            Product SKU or name to activate, e.g.,
            "avast_business_antivirus_pro_plus"
        seats:
          type: integer
          description: Number of seats to allocate (defaults to 1 for trials)
        isTrial:
          type: boolean
          default: false
          description: Set true to activate a trial subscription

    Alert:
      type: object
      properties:
        alertId:
          type: string
        deviceId:
          type: string
        deviceName:
          type: string
        severity:
          type: string
          enum: [info, warning, critical]
        type:
          type: string
          enum:
            - threat_detected
            - scan_failed
            - outdated_definitions
            - agent_offline
            - license_expiring
            - firewall_blocked
            - web_threat_blocked
          description: Alert category indicating the type of security event
        message:
          type: string
        resolved:
          type: boolean
        createdAt:
          type: string
          format: date-time
        resolvedAt:
          type: string
          format: date-time
          nullable: true

    AlertListResponse:
      type: object
      properties:
        alerts:
          type: array
          items:
            $ref: "#/components/schemas/Alert"
        nextPageToken:
          type: string
          nullable: true

    UserInviteRequest:
      type: object
      required:
        - email
        - role
      properties:
        email:
          type: string
          format: email
          description: Email address of the user to invite
        role:
          type: string
          enum: [admin, viewer]
          description: Role to grant the user in this company

    UserInviteResponse:
      type: object
      properties:
        invitationId:
          type: string
        email:
          type: string
        status:
          type: string
          enum: [pending, accepted]
        sentAt:
          type: string
          format: date-time

    User:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        name:
          type: string
          nullable: true
        role:
          type: string
          enum: [admin, viewer]
        status:
          type: string
          enum: [active, invited]
        createdAt:
          type: string
          format: date-time

    UserListResponse:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: "#/components/schemas/User"

    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: string
          nullable: true
