openapi: 3.0.3
info:
    title: ConnectWise Asio APIs
    description: ""
    version: 2.2.8
servers:
    - url: https://openapi.service.itsupport247.net
    - url: https://openapi.service.euplatform.connectwise.com
    - url: https://openapi.service.auplatform.connectwise.com
tags:
    - name: Authorization
    - name: Automation
    - name: Rate Limits
    - name: Devices
    - name: Tickets
    - name: Custom Fields Values
    - name: Custom Fields Definitions
    - name: OS Patching
    - name: Suspensions
    - name: Device Groups
paths:
    /api/platform/v1/device-groups:
        get:
            tags:
                - Device Groups
            summary: Fetch all Device Groups
            operationId: Get all device groups
            security:
                - endpoints_list:
                      - platform.deviceGroups.read
            parameters: []
            responses:
                "200":
                    description: Device Groups retrieved successfully.
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/DeviceGroup"
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Message"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Message"
    /api/platform/v1/automation/scripts:
        get:
            tags:
                - Automation
            summary: Fetch all Scripts
            operationId: Get details of Scripts
            responses:
                "200":
                    description: Scripts
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Scripts"
                "400":
                    description: Request Processing / validation failed
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorScripts"
                "401":
                    description: Authentication Failure
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorScripts"
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorScripts"
                "404":
                    description: Scripts not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorScripts"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorScripts"
    /api/platform/v1/automation/shellScripts:
        get:
            tags:
                - Automation
            summary: Fetch all Shell Scripts
            operationId: Get details of Shell Scripts
            responses:
                "200":
                    description: Successfully returned list of all shell scripts
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TemplateMetaData"
                "403":
                    description: Forbidden user is not entitled to view the templates
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorShellScripts"
                "500":
                    description: Can not get shell templates
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorShellScripts"
    /api/platform/v1/automation/tasks:
        get:
            tags:
                - Automation
            summary: Fetch all Tasks
            operationId: Get details of Tasks
            responses:
                "200":
                    description: Successfully retrieved the list of TasksDefinitions by partner ID
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/TaskDefinitionDetails"
                "401":
                    description: In-valid bearer Token
                    content:
                        text/plain:
                            schema:
                                $ref: "#/components/schemas/ErrorInvalidTasks"
                "403":
                    description: In-valid Permission Vector OR JWTToken
                    content:
                        text/plain:
                            schema:
                                $ref: "#/components/schemas/ErrorForbiddenTasks"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
    /api/platform/v1/automation/tasks/summary:
        get:
            tags:
                - Automation
            summary: Get Tasks Summary
            operationId: Tasks Summary
            parameters:
                - $ref: "#/components/parameters/From"
                - $ref: "#/components/parameters/To"
            responses:
                "200":
                    description: Task Summary
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TaskSummaryResult"
                "400":
                    description: Request Processing / validation failed
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
                "401":
                    description: Authentication Failure
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
    /api/platform/v1/automation/tasks/{taskId}/instances/summary:
        get:
            tags:
                - Automation
            summary: Get Task Instance Summary
            operationId: Task Instance Summary
            parameters:
                - $ref: "#/components/parameters/taskIdparam"
                - $ref: "#/components/parameters/From"
                - $ref: "#/components/parameters/To"
            responses:
                "200":
                    description: Instance Summary
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/InstanceSummaryResult"
                "400":
                    description: Request Processing / validation failed
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
                "401":
                    description: Authentication Failure
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
                "404":
                    description: Not Found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
    /api/platform/v1/company/companies:
        get:
            tags:
                - Company
            summary: Get list for companies
            operationId: Get list for companies
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Companies"
        post:
            tags:
                - Company
            summary: Create a company
            operationId: Create a company
            requestBody:
                description: the company object to be created in the system
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CompanyCreateRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Company"
    /api/platform/v1/company/companies/{companyId}:
        get:
            tags:
                - Company
            summary: Get a company by id
            operationId: Get a company by id
            parameters:
                - name: companyId
                  in: path
                  description: company id
                  required: true
                  schema:
                      type: string
                      format: uuid
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Company"
    /api/platform/v1/company/companies/{companyId}/custom-fields:
        get:
            tags:
                - Custom Fields Values
            summary: Retrieve multiple values of custom fields for the specific company
            parameters:
                - $ref: "#/components/parameters/CompanyID"
                - $ref: "#/components/parameters/AttributeIDs"
                - $ref: "#/components/parameters/WithDefaults"
                - $ref: "#/components/parameters/OriginType"
                - $ref: "#/components/parameters/OwnerID"
            responses:
                "200":
                    description: Retrieve all external attributes for the provided Entity
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/AttributeValue"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "404":
                    description: Attribute definition not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
        put:
            tags:
                - Custom Fields Values
            summary: Updates multiple custom fields values for the given company
            parameters:
                - $ref: "#/components/parameters/CompanyID"
            requestBody:
                $ref: "#/components/requestBodies/PartnerAttributeValuesPUT"
            responses:
                "200":
                    description: Attribute value successfully saved
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/AttributeValue"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /api/platform/v1/company/companies/{companyId}/sites:
        get:
            tags:
                - Company
            summary: Get all sites for the company
            operationId: Get all sites for the company
            parameters:
                - name: companyId
                  in: path
                  description: company id
                  required: true
                  schema:
                      type: string
                      format: uuid
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Sites"
        post:
            tags:
                - Company
            summary: Create a site for the company
            operationId: Create a site for the company
            parameters:
                - name: companyId
                  in: path
                  description: company id
                  required: true
                  schema:
                      type: string
                      format: uuid
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/SiteCreateRequest"
            responses:
                "201":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Site"
    /api/platform/v1/company/companies/{companyId}/sites/{siteId}:
        get:
            tags:
                - Company
            summary: Get site by id for company
            operationId: Get site by id for company
            parameters:
                - name: companyId
                  in: path
                  description: company id
                  required: true
                  schema:
                      type: string
                      format: uuid
                - name: siteId
                  in: path
                  description: site id
                  required: true
                  schema:
                      type: string
                      format: uuid
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Site"
        put:
            tags:
                - Company
            summary: Update site by id for company
            operationId: Update site by id for company
            parameters:
                - name: companyId
                  in: path
                  description: company id
                  required: true
                  schema:
                      type: string
                      format: uuid
                - name: siteId
                  in: path
                  description: site id
                  required: true
                  schema:
                      type: string
                      format: uuid
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Site"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Site"
        patch:
            tags:
                - Company
            summary: Update site by id for company
            operationId: Update site by id for company
            parameters:
                - name: companyId
                  in: path
                  description: company id
                  required: true
                  schema:
                      type: string
                      format: uuid
                - name: siteId
                  in: path
                  description: site id
                  required: true
                  schema:
                      type: string
                      format: uuid
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/PatchOperations"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Site"
    /api/platform/v1/company/sites:
        get:
            tags:
                - Company
            summary: Get list for sites
            operationId: Get list for sites
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Sites"
    /api/platform/v1/company/sites/{siteId}:
        get:
            tags:
                - Company
            summary: Get site by id
            operationId: Get site by id
            parameters:
                - name: siteId
                  in: path
                  description: site id
                  required: true
                  schema:
                      type: string
                      format: uuid
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Site"
    /api/platform/v1/company/sites/{siteId}/custom-fields:
        get:
            tags:
                - Custom Fields Values
            summary: Retrieve multiple values of custom fields for the specific site
            parameters:
                - $ref: "#/components/parameters/SiteID"
                - $ref: "#/components/parameters/AttributeIDs"
                - $ref: "#/components/parameters/WithDefaults"
                - $ref: "#/components/parameters/OriginType"
                - $ref: "#/components/parameters/OwnerID"
            responses:
                "200":
                    description: Retrieve all external attributes for the provided Entity
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/AttributeValue"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "404":
                    description: Attribute definition not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
        put:
            tags:
                - Custom Fields Values
            summary: Updates multiple custom fields values for the given site
            parameters:
                - $ref: "#/components/parameters/SiteID"
            requestBody:
                $ref: "#/components/requestBodies/PartnerAttributeValuesPUT"
            responses:
                "200":
                    description: Attribute value successfully saved
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/AttributeValue"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /api/platform/v1/contact/contacts:
        post:
            tags:
                - Company
            summary: Create a contact
            operationId: Create a contact
            requestBody:
                description: the contact object to be created in the system
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ContactCreateRequest"
            responses:
                "201":
                    description: Contact created successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ContactCreate"
    /api/platform/v1/custom-field/definitions:
        get:
            tags:
                - Custom Fields Definitions
            summary:
                Get the list of custom fields definitions for the given partner,
                including the vendor provided and partner defined.
            parameters:
                - $ref: "#/components/parameters/EntityTypeQuery"
                - $ref: "#/components/parameters/OriginType"
            responses:
                "200":
                    description: Successfully retrieved partner attribute definitions
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    allOf:
                                        - $ref: "#/components/schemas/PartnerAttributeDefinition"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
        post:
            tags:
                - Custom Fields Definitions
            summary: Create a new custom fields definition schema
            requestBody:
                $ref: "#/components/requestBodies/PartnerAttributeDefinitionPOST"
            responses:
                "201":
                    description: Attribute definition added successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PartnerAttributeDefinition"
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "409":
                    description: Already exists
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /api/platform/v1/custom-field/definitions/{definitionID}:
        get:
            tags:
                - Custom Fields Definitions
            summary: Get the schema for the definition by the given definition id
            parameters:
                - $ref: "#/components/parameters/DefinitionID"
            responses:
                "200":
                    description: Successfully retrieved the schema for the attribute definition
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PartnerAttributeDefinition"
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "404":
                    description: Partner not found / Definition not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
        put:
            tags:
                - Custom Fields Definitions
            summary: Update the schema for the definition by the given definition id
            parameters:
                - $ref: "#/components/parameters/DefinitionID"
            requestBody:
                $ref: "#/components/requestBodies/PartnerAttributeDefinitionPUT"
            responses:
                "200":
                    description: Successfully updated attribute definition
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PartnerAttributeDefinition"
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "404":
                    description: Partner not found / Definition not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "409":
                    description: Already exists
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
        delete:
            tags:
                - Custom Fields Definitions
            summary: Delete definition and all its values by given id
            parameters:
                - $ref: "#/components/parameters/DefinitionID"
            responses:
                "204":
                    description: Attribute definition deleted successfully
                    content: {}
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "404":
                    description: Attribute definition not found / Partner not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "409":
                    description: Conflict
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/ReferenceResponse"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /api/platform/v1/mapping/mappings/lookup:
        post:
            tags:
                - Mapping Service
            summary:
                Allows fetching multiple records based on values in criteria. It can
                either be true or false where default is false.
            parameters:
                - name: all
                  description:
                      Used to fetch ALL the matching records. By default, a single record
                      is returned.
            requestBody:
                description: the information needed to perform the lookup
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/LookupRequest"
                    examples:
                        lookupExample:
                            summary: Example Lookup Request
                    value:
                        schemas:
                            - id: c8f72634-ba9e-11ee-a506-0242ac120002
                            - id: 62389508-ba36-11ee-8f19-8e275c7899e4
                              reverse: true
                        criteria:
                            sourceAttributes:
                                serviceBoard: Board A
                            targetAttributesRequest:
                                - priority
                                - severity
            responses:
                "200":
                    description: The result of the lookups
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/LookupResponse"
                        examples:
                            lookupResponseExample:
                                summary: Example Lookup Response
                                value:
                                    completeMatch: true
                                    matchedSchemaIds:
                                        - 62389508-ba36-11ee-8f19-8e275c7899e4
                                    matchedAttributes:
                                        priority: High
                                        severity: Critical
    /api/platform/v1/policy/categories:
        get:
            tags:
                - Policy
            summary: Fetch categories and subcategories.
            responses:
                "200":
                    description: Fetch categories and subcategories response.
                    headers:
                        Access-Control-Allow-Origin:
                            schema:
                                type: string
                            description: in:header
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DefinitionCategoriesGetBody"
                "500":
                    description: Internal server error while request handling
                    headers:
                        Access-Control-Allow-Origin:
                            description: in:header
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/errorResponse"
    /api/platform/v1/policy/clients/{clientID}/sites/{siteID}/endpoints/{endpointID}/effective-policy:
        get:
            tags:
                - Policy
            summary: Get Effective Policy for the endpoint.
            parameters:
                - $ref: "#/components/parameters/clientIdparam"
                - $ref: "#/components/parameters/siteIdparam"
                - $ref: "#/components/parameters/endpointIdparam"
            responses:
                "200":
                    description: Effective policy for container.
                    headers:
                        Access-Control-Allow-Origin:
                            description: in:header
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/EffectivePolicy"
                "400":
                    description: Incorrect incoming request data
                    headers:
                        Access-Control-Allow-Origin:
                            description: in:header
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/errorResponse"
                "403":
                    description: Forbidden
                    headers:
                        Access-Control-Allow-Origin:
                            description: in:header
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/errorResponse"
                "404":
                    description: Nothing found by incoming request data
                    headers:
                        Access-Control-Allow-Origin:
                            description: in:header
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/errorResponse"
                "500":
                    description: Internal server error while request handling
                    headers:
                        Access-Control-Allow-Origin:
                            description: in:header
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/errorResponse"
    /api/platform/v1/policy/clients/{clientID}/sites/{siteID}/endpoints/{endpointID}/effective-policy/override:
        get:
            tags:
                - Policy
            summary: Get Effective Policy Override for an Endpoint.
            parameters:
                - $ref: "#/components/parameters/clientIdparam"
                - $ref: "#/components/parameters/siteIdparam"
                - $ref: "#/components/parameters/endpointIdparam"
            responses:
                "200":
                    description: Effective policy for container.
                    headers:
                        Access-Control-Allow-Origin:
                            description: in:header
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/OverrideGetBody"
                "400":
                    description: Incorrect incoming request data
                    headers:
                        Access-Control-Allow-Origin:
                            description: in:header
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/errorResponse"
                "403":
                    description: Forbidden
                    headers:
                        Access-Control-Allow-Origin:
                            description: in:header
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/errorResponse"
                "404":
                    description: Nothing found by incoming request data
                    headers:
                        Access-Control-Allow-Origin:
                            description: in:header
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/errorResponse"
                "500":
                    description: Internal server error while request handling
                    headers:
                        Access-Control-Allow-Origin:
                            description: in:header
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/errorResponse"
    /api/platform/v1/service/ticketing/categories:
        get:
            tags:
                - Tickets
            summary: Returns all ticket categories for a partner
            description: >
                This API returns all the ticket categories for a partner. Pagination
                support is not available for this API yet, so this API may return large
                amount of data depending upon categories present for a partner in the
                system.
            responses:
                "200":
                    description:
                        Successful response with all available ticket categories for a
                        partner
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Categories"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
    /api/platform/v1/service/ticketing/priorities:
        get:
            tags:
                - Tickets
            summary: Returns all ticket priorities
            description: >
                This API returns all the available priorities in the system. Pagination
                support is not available for this API yet, so this API may return large
                amount of data depending upon priorities present in the system.
            responses:
                "200":
                    description: Successful response with all available statuses
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Priorities"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
    /api/platform/v1/service/ticketing/service-boards:
        get:
            tags:
                - Tickets
            summary: Returns all service-boards for provided partner, available in the service
            description: >
                This API returns all the available service-boards in the system, for
                partner with provided partnerId. Pagination support is not available for
                this API yet, so this API may return large amount of data depending upon
                serviceBoards present in the system.


                The API accepts query parameters which should be provided to identify
                available service boards to assigns tickets to. 

                As the CW Expert Service only support entitled companies and sites,
                providing companyId and siteId allows service to return only entitled
                service-boards.
            parameters:
                - name: companyId
                  in: query
                  description:
                      the id of the company of the ticket for which service boards are to
                      be fetched.
                  schema:
                      type: string
                      format: uuid
                - name: siteId
                  in: query
                  description:
                      the id of the site of the ticket for which service boards are to be
                      fetched.
                  schema:
                      type: string
                      format: uuid
                - name: typeId
                  in: query
                  description:
                      the id of the ticket type which identifies which all service boards
                      are available for ticket of that type to be assgined. If the type is
                      not partner Level, then company and site id should also be provided.
                  schema:
                      type: string
                      format: uuid
            responses:
                "200":
                    description: Successful response with all available service-boards
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ServiceBoards"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
    /api/platform/v1/service/ticketing/service-boards/{id}/teams:
        get:
            tags:
                - Tickets
            summary: Returns all team associations for a service-board
            description: |
                This API fetches all the team associations for a specific service-board.
            parameters:
                - name: id
                  in: path
                  description:
                      the id of the service-board for which the team associations API is
                      being called
                  required: true
                  schema:
                      type: string
                      format: uuid
            responses:
                "200":
                    description:
                        Successful response with all available team associations for a
                        specific service-board
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ServiceBoardTeams"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
    /api/platform/v1/service/ticketing/sources:
        get:
            tags:
                - Tickets
            summary: Returns all ticket sources for a partner
            description: >
                This API returns all the ticket sources for a partner. Pagination
                support is not available for this API yet, so this API may return large
                amount of data depending upon sources present for a partner in the
                system.
            responses:
                "200":
                    description: Successful response with all available ticket sources for a partner
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Sources"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
    /api/platform/v1/service/ticketing/statuses:
        get:
            tags:
                - Tickets
            summary: Returns all ticket statuses
            description: >
                This API returns all the available statuses in the system. Pagination
                support is not available for this API yet, so this API may return large
                amount of data depending upon statuses present in the system.
            responses:
                "200":
                    description: Successful response with all available statuses
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Statuses"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
    /api/platform/v1/service/ticketing/tags:
        get:
            tags:
                - Tickets
            summary: Returns all tags for provided partner, available in the service
            description: >
                This API returns all the available tags in the system, for partner with
                provided partnerId. Pagination support is not available for this API
                yet, so this API may return large amount of data depending upon tags
                present in the system.
            responses:
                "200":
                    description: Successful response with all available tags
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Tags"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
        post:
            tags:
                - Tickets
            summary: Creates a new tag
            description: >
                This API creates a new tag in the system. The 'id' parameter value in
                the request body is ignored, if provided. A new 'id' is created  for the
                newly created tag and provided in response body
            requestBody:
                description: thetag object to be created in the system
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Tag"
            responses:
                "201":
                    description: Tag creation successful
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Tag"
                "400":
                    description: Bad/invalid Request body
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
    /api/platform/v1/service/ticketing/tags/{id}:
        delete:
            tags:
                - Tickets
            summary: Deletes a tag
            description: |
                The API deletes the stored tag from system.
            parameters:
                - name: id
                  in: path
                  description: the id of the tag to be deleted
                  required: true
                  schema:
                      type: string
                      format: uuid
            responses:
                "204":
                    description: Successful response indicating that deletion is successful
                "404":
                    description: the tag with id parameter value provided in path does not exist
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
        get:
            tags:
                - Tickets
            summary: Returns a tag
            description: |
                Fetches the tag stored in the system against the provided id.
            parameters:
                - name: id
                  in: path
                  description: the id of the tag to be fetched
                  required: true
                  schema:
                      type: string
                      format: uuid
            responses:
                "200":
                    description: Successful response with tag in response body
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Tag"
                "404":
                    description: the tag with id parameter value provided in path does not exist
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
        patch:
            tags:
                - Tickets
            summary: Updates a tag
            description: >
                This API updates the existing tag based on JSON Patch request received.
                This API is suitable for changing specific fields of the tag without
                replacing the entire tag object. For more details on JSON Patch, please
                check http://jsonpatch.com/ The 'id' parameter value in the request body
                is ignored, if sent and 'id' parameter value from path is used as tag id
                for this API
            parameters:
                - name: id
                  in: path
                  description: the id of the tag to be updated
                  required: true
                  schema:
                      type: string
                      format: uuid
            requestBody:
                description: the tag object to be updated in the system
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/json-patch"
            responses:
                "200":
                    description: Successful response with patched tag in response body
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Tag"
                "404":
                    description: the tag with id parameter value provided in path does not exist
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
                "405":
                    description: Only replace operation is allowed
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
        put:
            tags:
                - Tickets
            summary: Replace a tag
            description: >
                This API replaces the existing tag matching provided id with the one
                provided in the request body. All the tag parameter values, except for
                'id', are replaced with their correspoding values from request body of
                this API call. If certain parameter is absent in the request body, it's
                default value is used, if possible. The 'id' parameter value in the
                request body is ignored, if sent and 'id' parameter value from path is
                used as tag id for this API
            parameters:
                - name: id
                  in: path
                  description: the id of the tag to be replaced
                  required: true
                  schema:
                      type: string
                      format: uuid
            requestBody:
                description: the tag object to be replaced in the system
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Tag"
            responses:
                "200":
                    description: Successful response with updated tag in response body
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Tag"
                "400":
                    description: Bad/invalid Request body
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
                "404":
                    description: the tag with id parameter value provided in path does not exist
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
    /api/platform/v1/service/ticketing/ticket-counts:
        get:
            tags:
                - Tickets
            summary: Returns ticket counts
            description: |
                This API returns ticket counts
            responses:
                "200":
                    description: Successful response with ticket counts
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketCounts"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
    /api/platform/v1/service/ticketing/tickets/{id}/notes:
        get:
            tags:
                - Tickets
            summary: Returns selected Notes for Service ticket
            description: >
                This API fetches the selected notes for a specific ticket from system
                and returns it.
            parameters:
                - name: id
                  in: path
                  description: the id of the ticket for which notes API is being called
                  required: true
                  schema:
                      type: string
                      format: uuid
                - name: detail
                  in: query
                  description: filter by note detail
                  schema:
                      type: string
                - name: extendedAttributeIds
                  in: query
                  description: filter by extendedAttributeIds
                  schema:
                      type: string
                - name: visibility
                  in: query
                  description: >
                      a comma separated list of visibility ids to filter by note
                      visibility field Visibility of the note:
                       * 1 - Visible to all
                       * 2 - Visible to a specific partner
                       * 7 - Expert services,visible to partner and expert service users
                       * 8 - Expert users,visible to expert users
                  schema:
                      type: string
                      example: Id1,Id2
                - name: createdBy
                  in: query
                  description: a comma separated list of user ids to filter by note createdBy field
                  schema:
                      type: string
                      example: userId1,userId2
                - name: createdAtFrom
                  in: query
                  description: |
                      start date and time to filter by createdAt field
                      supports 3 value formats
                      1. date only - '2019-01-31'
                      2. date and time '2019-01-31T15:01:02'
                      3. rfc3339 - '2019-10-12T07:20:50.52+00:00'
                  schema:
                      type: string
                      format: date-time
                - name: createdAtTo
                  in: query
                  description: >
                      end date and time to filter by createdAt field

                      supports 3 value formats

                      1. date only - '2019-01-31' - in this case actual end date will be
                      '2019-01-31T23:59:59'

                      2. date and time '2019-01-31T15:01:02'

                      3. rfc3339 - '2019-10-12T07:20:50.52+00:00'
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Successful response with selected notes for a specific ticket
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketNotes"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
        post:
            tags:
                - Tickets
            summary: Creates a new Note for a Service ticket
            description: >
                This API creates a new note for the specified ticket in the system. The
                'id' parameter value in the request body is ignored, if provided. A new
                'id' is created  for the newly created note and provided in response
                body
            parameters:
                - name: id
                  in: path
                  description: the id of the ticket for which notes API is being called
                  required: true
                  schema:
                      type: string
                      format: uuid
            requestBody:
                description: the note object to be created in the system
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/TicketNoteRequest"
            responses:
                "201":
                    description: note creation successful
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketNote"
                "400":
                    description: Bad/invalid Request body
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
    /api/platform/v1/service/ticketing/tickets/{id}/notes/{noteId}:
        get:
            tags:
                - Tickets
            summary: Returns a Note for a Service ticket
            description: |
                Fetches the ticket note stored in the system against the provided id.
            parameters:
                - name: noteId
                  in: path
                  description: the id of the note to be fetched
                  required: true
                  schema:
                      type: string
                      format: uuid
                - name: id
                  in: path
                  description: the id of the ticket for which notes API is being called
                  required: true
                  schema:
                      type: string
                      format: uuid
            responses:
                "200":
                    description: Successful response with ticket note in response body
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketNote"
                "404":
                    description:
                        the ticket note with id parameter value provided in path does not
                        exist
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
        patch:
            tags:
                - Tickets
            summary: Updates a Note for a Service ticket
            description: >
                This API updates the existing note based on JSON Patch request received.
                This API is suitable for changing specific fields of note without
                replacing the entire note object. For more details on JSON Patch, please
                check http://jsonpatch.com/ The 'id' parameter value in the request body
                is ignored, if sent and 'id' parameter value from path is used as note
                id for this API
            parameters:
                - name: noteId
                  in: path
                  description: the id of the note to be fetched
                  required: true
                  schema:
                      type: string
                      format: uuid
                - name: id
                  in: path
                  description: the id of the ticket for which notes API is being called
                  required: true
                  schema:
                      type: string
                      format: uuid
            requestBody:
                description: the note object to be updated in the system
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/json-patch"
            responses:
                "200":
                    description: Successful response with patched note in response body
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketNote"
                "404":
                    description:
                        the ticket note with id parameter value provided in path does not
                        exist
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
                "405":
                    description: Only replace operation is allowed
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
        put:
            tags:
                - Tickets
            summary: Replace a Note for a Service ticket
            description: >
                This API replaces the existing ticket note matching provided id with the
                one provided in the request body. All the note parameter values, except
                for 'id', are replaced with their correspoding values from request body
                of this API call. If certain parameter is absent in the request body,
                it's default value is used. The 'id' parameter value in the request body
                is ignored, if sent and 'id' parameter value from path is used as note
                id for this API
            parameters:
                - name: noteId
                  in: path
                  description: the id of the note to be fetched
                  required: true
                  schema:
                      type: string
                      format: uuid
                - name: id
                  in: path
                  description: the id of the ticket for which notes API is being called
                  required: true
                  schema:
                      type: string
                      format: uuid
            requestBody:
                description: the note object to be replaced in the system
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/TicketNoteRequest"
            responses:
                "200":
                    description: Successful response with updated note in response body
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketNote"
                "400":
                    description: Bad/invalid Request body
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
                "404":
                    description:
                        the ticket note with id parameter value provided in path does not
                        exist
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
    /api/platform/v1/service/ticketing/types:
        get:
            tags:
                - Tickets
            summary: Returns all ticket types
            description: >
                This API returns all the available types in the system. Pagination
                support is not available for this API yet, so this API may return large
                amount of data depending upon types present in the system.
            parameters:
                - name: entity
                  in: query
                  description:
                      Fetches the type stored in the system against the provided entity,
                      the possible values is assignment
                  schema:
                      type: string
            responses:
                "200":
                    description: Successful response with all available types
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Types"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TicketAPIErrors"
    /api/platform/v2/device/categories/{category}/endpoints:
        post:
            tags:
                - Devices
            summary: Fetch all user endpoints for the endpoint category
                (platform/network/cloud/all)
            description: >-

                Fetches all categorized endpoints data grouped by company and site for
                the given user.

                <br><br>

                <b>Note:</b>
                  - The response is paginated with a maximum of 500 endpoints per page. The Link header provides the URL for the next page, if available.
                  - The API has projection support to retrieve only selected fields. Maximum of **15 fields**.
                  - If no projection fields are specified, only the **minimal fields** (metadata) will be returned by default. Please refer to the **projection guidelines** in the documentation center for more details.</li>
            operationId: Get all user endpoints
            parameters:
                - $ref: "#/components/parameters/headerAuthorization"
                - $ref: "#/components/parameters/headerHost"
                - $ref: "#/components/parameters/headerOrigin"
                - $ref: "#/components/parameters/headerUserAgent"
                - $ref: "#/components/parameters/headerXRequestID"
                - $ref: "#/components/parameters/deviceCategory"
                - $ref: "#/components/parameters/limit"
                - $ref: "#/components/parameters/cursor"
                - $ref: "#/components/parameters/sortBy"
                - $ref: "#/components/parameters/fieldV2WithLimit"
                - $ref: "#/components/parameters/filter"
            requestBody:
                description: >
                    This request body is mandatory. The payload must include both
                    **resourceType** and **resources** fields.


                    **Validation rules:**

                    - If **resourceType** is **company**, only `4` values are allowed in
                    the **resources** array.

                    - If **resourceType** is **site**, only `10` values are allowed in the
                    **resources** array.

                    - If **resourceType** is **endpoint**, only `500` values are allowed
                    in the **resources** array.
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/resourceRequestCompanySiteEndpoint"
            responses:
                "200":
                    description: |
                        Successful response
                    headers:
                        Link:
                            $ref: "#/components/headers/PaginationLink"
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/endpoints"
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"

    /api/platform/v2/device/companies/{companyID}/sites/{siteID}/endpoints/{endpointID}:
        get:
            tags:
                - Devices
            summary: Fetch all the details of an endpoint
            description: >-
                Fetches a single endpoint's details for the given companyID, siteID and
                endpointID.

                <br>


                <b>Note:</b>

                - The API has projection support to retrieve only selected fields.

                - If no projection fields are specified, only the **minimal fields**
                (metadata + os + system) will be returned by default. Please refer to
                the **projection guidelines** in the documentation center for more
                details.

                - The endpoint category will be deduced from the endpointID and the
                response will be generated accordingly. <br>

                *For eg. If the deduced endpoint category is **network**, the response
                will be generated as per the **network** schema and the **network** key
                will be populated accordingly.*
            operationId: Get all the endpoints details
            parameters:
                - $ref: "#/components/parameters/companyID"
                - $ref: "#/components/parameters/siteID"
                - $ref: "#/components/parameters/endpointID"
                - $ref: "#/components/parameters/headerAuthorization"
                - $ref: "#/components/parameters/headerHost"
                - $ref: "#/components/parameters/headerOrigin"
                - $ref: "#/components/parameters/headerUserAgent"
                - $ref: "#/components/parameters/headerXRequestID"
                - $ref: "#/components/parameters/fieldV2"
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/endpoint"
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "429":
                    description: Too many requests
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"

    /api/platform/v2/device/companies/{companyID}/sites/{siteID}/endpoints/{endpointID}/services:
        get:
            tags:
                - Devices
            summary: Fetch the service details for the endpoint
            description: >-
                Retrieves a list of services for the endpoint of a specific site within
                a company. It allows filtering by service name.

                <br><br>

                <b>Note:</b>
                  - The API has projection support to retrieve only selected fields.
                  - If no projection fields are specified, **all** fields will be returned by default. Please refer to the **projection guidelines** in the documentation center for more details.</li>
            parameters:
                - $ref: "#/components/parameters/companyID"
                - $ref: "#/components/parameters/siteID"
                - $ref: "#/components/parameters/endpointID"
                - $ref: "#/components/parameters/headerAuthorization"
                - $ref: "#/components/parameters/headerHost"
                - $ref: "#/components/parameters/headerOrigin"
                - $ref: "#/components/parameters/headerUserAgent"
                - $ref: "#/components/parameters/headerXRequestID"
                - $ref: "#/components/parameters/filterServiceName"
                - $ref: "#/components/parameters/fieldV2Services"
            operationId: Get all the endpoint services details
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/endpointService"
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "429":
                    description: Too many requests
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"

    /api/platform/v2/device/endpoints/applications:
        post:
            tags:
                - Devices
            summary: Fetch the application details for endpoints
            description: >-
                Fetches all the application details for the specified resource available
                to the partner user.

                <br><br>

                <b>Note:</b>
                  - The response is paginated with a maximum of 500 endpoints per page. The Link header provides the URL for the next page, if available.
                  - The API has projection support to retrieve only selected fields.
                  - If no projection fields are specified, **all** fields will be returned by default. Please refer to the **projection guidelines** in the documentation center for more details.</li>
            operationId: Get all the endpoint applications details
            parameters:
                - $ref: "#/components/parameters/headerAuthorization"
                - $ref: "#/components/parameters/headerHost"
                - $ref: "#/components/parameters/headerOrigin"
                - $ref: "#/components/parameters/headerUserAgent"
                - $ref: "#/components/parameters/headerXRequestID"
                - $ref: "#/components/parameters/limit"
                - $ref: "#/components/parameters/cursor"
                - $ref: "#/components/parameters/fieldV2Applications"
                - $ref: "#/components/parameters/filterApplicationName"
                - $ref: "#/components/parameters/filterApplicationVersion"
            requestBody:
                description: >
                    This request body is mandatory. The payload must include both
                    **resourceType** and **resources** fields.


                    - If **resourceType** is **company**, only `4` values are allowed in
                    the **resources** array.

                    - If **resourceType** is **site**, only `10` values are allowed in the
                    **resources** array.

                    - If **resourceType** is **endpoint**, up to `500` values are allowed
                    in the **resources** array.
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/resourceRequestCompanySiteEndpoint"
            responses:
                "200":
                    description: Successful response with a list of applications.
                    headers:
                        Link:
                            $ref: "#/components/headers/PaginationLink"
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/endpointApplications"
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "429":
                    description: Too many requests
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"

    /api/platform/v2/device/endpoints/{endpointId}/system-state-info:
        get:
            tags:
                - Devices
            summary: Returns systemstate data of a given endpointID from the data source
            operationId: getSystemStateInfo
            parameters:
                - $ref: "#/components/parameters/endpointIdparam"
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SystemStateCollection"
                "404":
                    description: Not found
                "500":
                    description: Internal Server Error
            description: "Requires OAuth2 scope: **platform.devices.read**"
    /api/platform/v2/device/hypervisors/hosts:
        get:
            tags:
                - Devices
            summary: Get monitored VMware hosts
            description: |-
                To get the monitored VMware hosts

                Requires OAuth2 scope: **platform.devices.read**
            operationId: getMonitoredHosts
            responses:
                "200":
                    description: Found the VMware Hosts
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/monitorResponse"
                "401":
                    description: Error Invalid Authorization Token
                "404":
                    description: No monitoring hosts found
                "500":
                    description: Failed to get monitoring hosts
    /api/platform/v2/device/services:
        get:
            tags:
                - Devices
            summary: Fetch the unique partner services
            description: Fetches all unique services for the given partner.
            parameters:
                - $ref: "#/components/parameters/headerAuthorization"
                - $ref: "#/components/parameters/headerHost"
                - $ref: "#/components/parameters/headerOrigin"
                - $ref: "#/components/parameters/headerUserAgent"
                - $ref: "#/components/parameters/headerXRequestID"
            operationId: Get all the partner user's unique services
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/partnerService"
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "429":
                    description: Too many requests
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"
                "500":
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/error"

    /v1/rate_limits:
        get:
            tags:
                - Rate Limits
            summary: Get current rate limit
            operationId: Get current rate limit
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            example:
                                resources:
                                    alerts:
                                        create-alert:
                                            limit: 35
                                            remaining: 34
                                            reset: 1603785300
                                    asset:
                                        partner-asset-endpoints-details:
                                            limit: 35
                                            remaining: 35
                                            reset: 1603785300
                                    service:
                                        rate-limit:
                                            limit: 35
                                            remaining: 33
                                            reset: 1603785300
                                    topology:
                                        partner-topology-clients:
                                            limit: 35
                                            remaining: 35
                                            reset: 1603785300
                                        partner-topology-endpoints:
                                            limit: 35
                                            remaining: 35
                                            reset: 1603785300
                                        partner-topology-sites:
                                            limit: 35
                                            remaining: 35
                                            reset: 1603785300
    /v1/token:
        post:
            tags:
                - Authorization
            summary: Authorize with credentials
            operationId: Authorize with credentials
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                grant_type:
                                    type: string
                                client_id:
                                    type: string
                                client_secret:
                                    type: string
                                scope:
                                    type: string
                            example:
                                grant_type: client_credentials
                                client_id: "6500023"
                                client_secret: some_client_secret
                                scope: platform.companies.read
                required: false
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            example:
                                access_token: o7-0jLHntmSEfkr5KGq2whqRfR0
                                scope: platform.companies.read
                                token_type: Bearer
                                expires_in: 3599
            x-codegen-request-body-name: body
    /api/platform/v2/automation/endpoints/schedule-tasks:
        post:
            tags:
                - Automation
            summary: Schedule a Task on target endpoints
            operationId: Schedule Task
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ScheduleTask"
            responses:
                "201":
                    description: Task Execution Initiated successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ScheduleTaskResult"
                "400":
                    description: Request Processing / validation failed
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
                "401":
                    description: Authentication Failure
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
    /api/platform/v2/automation/endpoints/{endpointId}/tasks/summary:
        get:
            tags:
                - Automation
            summary: Get Tasks Summary for Endpoint
            operationId: Endpoint Task Summary
            parameters:
                - $ref: "#/components/parameters/endpointIdparam"
            responses:
                "200":
                    description: Endpoint Task Summary
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/EndpointTaskSummaryResult"
                "400":
                    description: Request Processing / validation failed
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
                "401":
                    description: Authentication Failure
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
                "404":
                    description: Not Found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorTasks"
    /api/platform/v2/automation/tasks/{taskId}/instances/{instanceId}/results:
        get:
            tags:
                - Automation
            summary: Get Task Instance Execution Results
            operationId: Task Instance Execution Results
            parameters:
                - $ref: "#/components/parameters/taskIdparam"
                - $ref: "#/components/parameters/instanceIdparam"
            responses:
                "200":
[...]
