@font-face {
    font-family: 'Cera Basic';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraBasic-Regular.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraBasic-Regular.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraBasic-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Black.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Black.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Black.ttf') format('ttf'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Black.otf') format('otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-BlackItalic.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-BlackItalic.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Black%20Italic.ttf') format('ttf'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Black%20Italic.otf') format('otf');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-BlackItalic.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-BlackItalic.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Black%20Italic.ttf') format('ttf'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Black%20Italic.otf') format('otf');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Basic';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraBasic-Black.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraBasic-Black.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera Pro/CeraBasic-Black.otf') format('otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Light.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Light.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Light.ttf') format('ttf'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Bold.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Bold.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Bold.ttf') format('ttf'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Black.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Black.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Black.ttf') format('ttf'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Black.otf') format('otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-MediumItalic.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-MediumItalic.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Medium%20Italic.otf') format('otf');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Light.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Light.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Light.ttf') format('ttf'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Medium.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Medium.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Medium.ttf') format('ttf'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Bold.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Bold.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Bold.ttf') format('ttf'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Italic.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Italic.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Regular%20Italic.ttf') format('ttf'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Regular%20Italic.otf') format('otf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Medium.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Medium.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Medium.ttf') format('ttf'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Basic';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraBasic-Bold.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraBasic-Bold.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraBasic-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Italic.woff2') format('woff2'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/CeraPro-Italic.woff') format('woff'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Regular%20Italic.ttf') format('ttf'),
        url('https://university.connectwise.com/content/cross-product-web-elements/fonts/Cera%20Pro/Cera%20Pro%20Regular%20Italic.otf') format('otf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

